[submodule "tools/osmctools"]
	path = tools/osmctools
	url = https://github.com/mapsme/osmctools.git
[submodule "tools/kothic"]
	path = tools/kothic
	url = https://github.com/mapsme/kothic.git
[submodule "3party/Alohalytics"]
	path = 3party/Alohalytics
	url = https://github.com/mapsme/Alohalytics.git
[submodule "tools/macdeployqtfix"]
	path = tools/macdeployqtfix
	url = https://github.com/aurelien-rainone/macdeployqtfix.git
[submodule "3party/protobuf/protobuf"]
	path = 3party/protobuf/protobuf
	url = https://github.com/mapsme/protobuf.git
