[submodule "tools/osmctools"]
	path = tools/osmctools
	url = git://github.com/mapsme/osmctools.git
[submodule "tools/kothic"]
	path = tools/kothic
	url = git://github.com/mapsme/kothic.git
[submodule "3party/Alohalytics"]
	path = 3party/Alohalytics
	url = git://github.com/mapsme/Alohalytics.git
[submodule "iphone/Maps/3party/AlamofireImage"]
	path = iphone/Maps/3party/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
